.table-text-field{
    width: 30%;
}

.table-text-field div{
  position: relative;
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.buttons-table-field{
    display: flex;
}

.buttons-table-field .btn{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}


